/////////////////////////////////
//HERO IMAGE
////////////////////////////////
.hero-image {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background: linear-gradient(
       rgba(20,20,20, .1), 
       rgba(20,20,20, .1)),
       url('/assets/img/top-in-clouds.jpeg');
	background-size: cover;
	background-position: top;
	width: 100vw;
	height: 50vh;
    min-height: 600px;
    border-bottom: 4px solid $color-secondary;

    h1,h2,h3 {
    	color: #FFF;
    }
    h1 {
    	font-size: 8rem;
    }
    h2 {
    	font-size: 2rem;
    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    h3 {
    	font-size: 1rem;
    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

.hero__container--img {
	width: 40%;
	margin-top: 4rem;
}



@media (max-width: 767px) {
	.hero-image {
		width: 100vw;
		height: 50vh;
	    min-height: 400px;
	}
	.hero__container--img {
		width: 60%;
	}
}

@media (max-width: 740px) {
	.hero-image {

	    h1 {
	    	font-size: 5rem;
	    }
	    h2 {
	    	font-size: 1.2rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	    h3 {
	    	font-size: 1rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	}
}
@media (max-width: 444px) {
	.hero-image {

	    h1 {
	    	font-size: 3rem;
	    }
	    h2 {
	    	font-size: 1rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	    h3 {
	    	font-size: .9rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	}
}
@media (max-width: 400px) {
	.hero-image {

	    h1 {
	    	font-size: 3rem;
	    }
	    h2 {
	    	font-size: 1rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	    h3 {
	    	font-size: .7rem;
	    	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	}
}

/////////////////////////////////
//HERO IMAGE
////////////////////////////////



/////////////////////////////////
//ABOUT
////////////////////////////////
.about {
	p {
		text-align: center;
		font-size: 1.2rem;
	}

	&__img {
	margin-top: 2rem;
	text-align: center;
		h1 {
			font-size: 3rem;
		}
		img {
			width: 20rem;
			// border-radius: 10%;
			border: 6px solid $color-secondary;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
		}
	}

	&__split-img {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 1rem;

		 &--a {
		 	background: url('/assets/img/img1.JPG');
			background-size: cover;
			background-position: center;
			height: 30rem;
			border: 6px solid $color-secondary;
			width: 50%;
			margin-left: 1rem;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
		 }
		 &--b {
		 	background: url('/assets/img/ryder-cup.JPG');
			background-size: cover;
			background-position: center;
			height: 30rem;
			border: 6px solid $color-secondary;
			width: 50%;
			margin-left: 1rem;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
		 }
		 &--c {
		 	background: url('/assets/img/disc-golf.JPG');
			background-size: cover;
			background-position: center;
			height: 30rem;
			border: 6px solid $color-secondary;
			width: 50%;
			margin-left: 1rem;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
		 }
		 &--d {
		 	background: url('/assets/img/q-2.JPG');
			background-size: cover;
			background-position: center;
			height: 30rem;
			border: 6px solid $color-secondary;
			width: 50%;
			margin-left: 1rem;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.6);
		 }
	}
}

@media (max-width: 600px) {
	.about {

	&__split-img {
		flex-flow: column nowrap;
		margin-bottom: 0;

		 &--a {
			width: 100%;
			margin-left: 0;
			margin-bottom: 1rem;
		 }
		 &--b {
			width: 100%;
			margin-left: 0;
			margin-bottom: 1rem;
		 }
		 &--c {
			width: 100%;
			margin-left: 0;
			margin-bottom: 1rem;
		 }
		 &--d {
			width: 100%;
			margin-left: 0;
			margin-bottom: 1rem;
		 }
	}
}
}
    
/////////////////////////////////
//ABOUT
////////////////////////////////