/*==========  Font Variables  ==========*/
// $font-primary				: 'Open Sans', sans-serif;
// $font-secondary             : 'Montserrat', sans-serif;
// $font-header                : 'Teko', sans-serif;

// font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;


/*==========  Color Variables  ==========*/
$color-primary              : #132226;
$color-secondary            : #525B56;
$color-tertiary				: #BE9063;
$color-gray					: #A4978E;

$color-light				: #FFF;
$color-dark					: #040C0E;
