<section class="quote-section">
	<div class="container">
		<div class="row">
			<blockquote class="text-center">
				<span><strong>Dignissim sodales ut eu sem integer.</strong></span> <br/>
				<span>Sit amet massa vitae tortor condimentum lacinia quis vel. Sit amet massa vitae tortor condimentum lacinia quis vel.</span>
			</blockquote>
		</div>
	</div>
</section>

<footer>
	<div class="row mb-4">
		<div class="footer__left col-md-6 mb-4">
			<a href="">
				<figure >
					<img class="footer__logo" src="/assets/img/mountains.png" alt="Mountain Logo">
				</figure>
			</a>
			<a href="mailto:14mckeon@gmail.com">14mckeon@gmail.com</a>
			<!-- <a href="tel:">(999) 999-9999</a> -->
			<a href="/">© <script type="text/javascript">document.write(new Date().getFullYear());</script> Colin McKeon</a>
			<div class="d-flex flex-row flex-nowrap">
				<!-- <a class="footer-social pr-2" href=""><i class="fab fa-facebook-square"></i></a> -->
				<a class="footer-social" href="https://www.linkedin.com/in/colin-mckeon-8a4413102/"><i class="fab fa-linkedin"></i></a>
			</div>
		</div>
		<div class="col-md-6" style="margin-top: 2rem;">
			<p class="footer__about">
				Let's collaborate! Shoot me an email and we can chat about future opportunities, or feel free to ask any questions!
			</p>
			<a class="footer__right--btn btn btn-lg" href="mailto:14mckeon@gmail.com">CONTACT</a>
		</div>
	</div>
	<div class="row">
		<div class="footer__diversity col-12 col-md-12 col-lg-8 offset-lg-2">
			I am currently interested in new employment opportunities. Thank you for your consideration. I look forward to future collaboration, or helping your organizaton prosper!
		</div>
	</div>
</footer>

