<header class="main_h sticky__nav">

    <div class="nav__container">
        <a class="nav__logo" href="/">
        	<img src="/assets/img/mountains.png" alt="Mountains logo">
            <!-- <h1>Colin McKeon</h1> -->
        </a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="/my-work.html">My Work</a></li>
                <li><a href="/assets/file/colin-mckeon-resume-2023.pdf" target="_blank">Resume <i class="fas fa-download"></i></a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>



