<header class="main_h sticky__nav">

    <div class="nav__container">
        <a class="nav__logo" href="/">
        	<!-- <img src="/assets/img/logos/SCM-Wordmark-Color.png" alt="SCMatters logo"> -->
            <!-- <h1>Colin McKeon</h1> -->
        </a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="/about.html">About</a></li>
                <li><a href="/board.html">Board</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/donate.html">Donate</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>



