---

---

@import "variables";
@import "header";
@import "footer";
@import "home";
@import "my-work";

* {
    box-sizing: border-box;
}

html {
	font-size: 100%;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

body {
	font-family: trade-gothic-next-compressed,sans-serif;
	font-weight: 400;
	font-style: normal;
	background: url('/assets/img/background.png');
}

h1, h2, h3, h4, h5, h6 {
	font-family: trade-gothic-next-compressed,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: $color-secondary;
}

a:hover {
	text-decoration: none;
	transition: all 0.6s ease;
}


.hero {
	margin-top: 7rem;
}

.header__title {
	padding-left: 4rem;
	font-size: 4rem;
	color: $color-secondary;

	&--caption {
		padding-left: 5rem;
		font-size: 1.5rem;
	}
}