<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->



  <title>{{ site.title }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8" type="text/css"/>
  <meta name="viewport" content="width=device-width" initial-scale="1.0"/>

  <meta name="description" content="Colin McKeon's Portfolio">
  <meta name="keywords" content="">
  <meta property="og:title" content="SC Matters" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="Colin McKeon's Portfolio" />
  <meta property="og:image" content="/assets/img/logos/" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="SC Matters">
  <meta name="twitter:title" content="SC Matters">
  <meta name="twitter:description" content="Colin McKeon's Portfolio">
  <meta name="twitter:creator" content="YLI">
  <meta name="twitter:image" content="/assets/img/logos/SCM-Wordmark-Color.png">
  

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/logos/">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logos/" >


  <!-- FONTS -->
  <link rel="stylesheet" href="https://use.typekit.net/hqf0jxb.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i&display=swap" rel="stylesheet">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/site.css"> <!-- UPDATE -->



  
</head>
<body>
  {% include header.html %}

  <div class="content-wrapper">{{ content }}</div>

  {% include footer.html %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/js/all.min.js"></script>
<script type="text/javascript" src="/assets/js/site.js"></script>




</html>